.custom-file-input:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 760px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
	        transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog{
	left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

ul {
	padding-inline-start : 20px !important;
}

.text-no-wrap {
    white-space: nowrap;
}

.highcharts-figure .chart-container {
	width: 300px;
	height: 200px;
	float: left;
}

@media (max-width: 600px) {
	.highcharts-figure .chart-container {
		width: 300px;
		float: none;
		margin: 0 auto;
	}

}
.font-inter {
    font-family: inter ui, -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
}

.card-warning {
    background: #f6c000;
    /* color: #fff; */
}
.card-danger {
    background: #fd625e;
    color: #fff;
}

.card-footer {
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.select2-container--default .select2-results>.select2-results__options {
    padding-left: 0 !important;
}

.w-full {
    width: 100% !important;
}

.thead-dark > tr > th {
    color: #ffffff !important;
}

.text-label {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
    letter-spacing: .06em;
    font-weight: 500;
}
